asgiref==3.2.9
astroid==2.0.4
certifi==2020.6.20
chardet==3.0.4
Django==2.2.13
django-appconf==1.0.4
django-ckeditor==5.9.0
django-crispy-forms==1.7.2
django-cropperjs==0.0.5
django-dbbackup==3.3.0
django-imagekit==4.0.2
django-js-asset==1.2.2
django-mentions==0.2
django-taggit==1.3.0
idna==2.10
isort==4.3.4
lazy-object-proxy==1.3.1
Markdown==3.2.2
martor==1.4.9
pilkit==2.0
Pillow==7.1.2
psycopg2==2.8.5
pytz==2018.5
requests==2.24.0
six==1.11.0
sqlparse==0.3.1
urllib3==1.25.9
wrapt==1.10.11
