{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="content-section">
    <div style="display: flex; align-items: center;">
        <img src="{% static 'blog/img/chat.png' %}" class="rounded-circle chat-image" alt="Profile">    
        <p><b>{{ chat_room.group_name }}</b></p>
    </div>
    <hr>
    <div id="messages">
    {% for message in history_messages %}
        {% if message.sender == request.user %}
            <div class="d-flex justify-content-end">
                <div class="alert alert-success" role="alert">
                    {{ message.message }}<br>
                    <small class="text-muted">{{ message.timestamp }}</small>
                </div>
                <img src="{{ message.sender.profile.image_thumbnail_user.url }}" class="rounded-circle chat-image" alt="Profile">
            </div>
        {% else %}
            <div class="d-flex justify-content-start">
                <!-- Profile image on the left for the other user -->
                <img src="{{ message.sender.profile.image_thumbnail_user.url }}" class="rounded-circle chat-image" alt="Profile">
                <div class="alert alert-primary" role="alert">
                    {{ message.message }}<br>
                    <small class="text-muted">{{ message.timestamp }}</small>
                </div>
            </div>
            
        {% endif %}
    {% endfor %}
</div>
    <form id="chat-form">
        <input class="message-input form-control" placeholder="Type your message" type="text" id="chat-message-input" name="message">
    </form>
</div>

<script type="text/javascript">
    const room_name = `{{ room_name }}`

    let url = `ws://${window.location.host}/ws/chat/${room_name}/`;
    const chatSocket = new WebSocket(url);

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        console.log('Data:', data);
        
        if (data.type == 'chat'){
            let messages = document.getElementById("messages")
            let messageHTML = '';
        if (data.username === '{{ request.user.username }}') {
            // Display message on the right for the current user
            messageHTML = `
                <div class="d-flex justify-content-end">
                    <div class="alert alert-success" role="alert">
                        ${data.message}
                        <br>
                        <small class="text-muted">${data.timestamp}</small>
                    </div>
                    <img src="${data.sender_user_image}" class="rounded-circle chat-image" alt="Profile">
                </div>
            `;
        } else {
            // Display message on the left for the other user
            messageHTML = `
                <div class="d-flex justify-content-start">
                    <img src="${data.sender_user_image}" class="rounded-circle chat-image" alt="Profile">
                    <div class="alert alert-primary" role="alert">
                        ${data.message}
                        <br>
                        <small class="text-muted">${data.timestamp}</small>
                    </div>
                </div>
            `;
        }
        
        messages.insertAdjacentHTML('beforeend', messageHTML);
        }
    };

    let form = document.getElementById('chat-form');
    form.addEventListener('submit', (e)=>{
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': '{{ request.user.username }}',
            'is_group': true,
            'recipient': NaN
        }))
        form.reset()
    })
</script>

{% endblock content %}