{% extends "blog/base.html" %}
 {% block title %}
   <title>About - NCC BUDDIES</title> 
 {% endblock %}
{% block content %}
<div class="content-section">
	<h1>About</h1>
	<p>The sole aim of <i>nccbuddy.com</i> is to provide a platform to cadets for sharing and getting knowledge.</p>
	<p>It helps connects NCC cadets and provides a platform where cadets can share their experience, knowledge, memories, and much more.</p>
	<p>We are committed to building a better NCC community by providing a fast and secure platform.</p>
	<p>nccbuddy.com is developed in India.</p>
</div>
{% endblock content %}
