{% extends 'blog/base.html' %}
{% load crispy_forms_tags %} 
 {% block title %}
   <title>Contribute - nccbuddy.com</title> 
 {% endblock %}
 {% block content %}

<div class="content-section">

	<h1>Contribute</h1>
	<ul>
		<li>nccbuddy.com is actively looking for contributors 
			 in various areas mentioned below
			<ol>
				<li>Web Developers or Designers</li>
				<li>Graphics Designers</li>
				<li>Artists</li>
				<li>Content Writers</li>
				<li>In other way you can.</li>
			</ol>
		</li>
		<li>To contribute mail us at nccbuddiesofficial@gmail.com.</li>
		<li>Please be specific in your mail and attach past work samples also.</li>
	</ul>

</div>

{% endblock content %}
