{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{% static 'blog/img/favicon.png' %}"
          type="image/gif" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}{% endblock %}
    
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">    
    <link rel="stylesheet" type="text/css"
          href="{% static 'blog/css/main.css' %}">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block title %}{% endblock %}

    
</head>
<body>
    <header class="site-header">
      {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top d-none d-md-block">
      {% else %}
      <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
      {% endif %}

        <div class="container">
          <a class="navbar-brand mr-4"
             href="{% url 'blog:home' %}"><span class="ncc-title">NCC</span><span class="buddies-title"> BUDDY</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarToggle" aria-controls="navbarToggle"
                  aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              
            </div>
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'blog:home' %}">Home</a>

                <a class="nav-item nav-link" href="{% url 'blog:search' %}">Search
                </a>
                <a class="nav-item nav-link" href="{% url 'profile' request.user.username %}">Profile
                </a>
                <a class="nav-item nav-link" href="{% url 'chat:chat_list' %}">
                  Chat <i class="fa-brands fa-rocketchat"></i>
                </a>
                <a class="nav-item nav-link" href="{% url 'blog:notifications' request.user.username %}">
                  <i class="fa-solid fa-bell"></i> <span class="badge badge-light" style="display: none;" id="notifications-count"></span>
                </a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
      {% if user.is_authenticated %}
      <div class="d-block d-md-none">
      <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-blue navbar-mobile">
          <div class="icon-navbar">
            <a class="nav-link-2" href="{% url 'blog:home' %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ecf0f1"><path d="M86,15.0472l-78.83333,70.9528h21.5v64.5h43v-43h28.66667v43h43v-64.5h21.5z"></path></g></g></svg>
            </a>
          </div>
          <div class="icon-navbar">
            <a class="nav-link-2" href="{% url 'blog:search' %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ecf0f1"><path d="M72.24,10.32c-32.33062,0 -58.48,26.14938 -58.48,58.48c0,32.33063 26.14938,58.48 58.48,58.48c11.54281,0 22.22563,-3.38625 31.2825,-9.1375l42.2475,42.2475l14.62,-14.62l-41.71,-41.6025c7.49813,-9.83625 12.04,-22.02406 12.04,-35.3675c0,-32.33062 -26.14937,-58.48 -58.48,-58.48zM72.24,24.08c24.76531,0 44.72,19.95469 44.72,44.72c0,24.76531 -19.95469,44.72 -44.72,44.72c-24.76531,0 -44.72,-19.95469 -44.72,-44.72c0,-24.76531 19.95469,-44.72 44.72,-44.72z"></path></g></g></svg>
            </a>
          </div>
          <div class="icon-navbar">
            <a class="nav-link-2" href="{% url 'blog:notifications' request.user.username %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ecf0f1"><path d="M86,14.33333c-5.934,0 -10.75,4.816 -10.75,10.75v4.98307c-18.54017,4.78017 -32.25,21.56943 -32.25,41.60026v43l-14.33333,14.33333v7.16667h114.66667v-7.16667l-14.33333,-14.33333v-43c0,-20.03083 -13.70983,-36.8061 -32.25,-41.58626v-4.99707c0,-5.934 -4.816,-10.75 -10.75,-10.75zM71.66667,143.33333c0,7.91917 6.42133,14.33333 14.33333,14.33333c7.912,0 14.33333,-6.42133 14.33333,-14.33333z"></path></g></g></svg>
              <small><span class="badge-color" id="notifications-count-2" style="display: none;"></span></small>

            </a>
          </div>
          <div class="icon-navbar">
            <a class="nav-link-2" href="{% url 'profile' request.user.username %}">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
              width="24" height="24"
              viewBox="0 0 172 172"
              style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ecf0f1"><path d="M86,21.5c-15.83216,0 -28.66667,12.8345 -28.66667,28.66667c0,15.83216 12.8345,28.66667 28.66667,28.66667c15.83216,0 28.66667,-12.8345 28.66667,-28.66667c0,-15.83216 -12.8345,-28.66667 -28.66667,-28.66667zM86,100.33333c-21.52867,0 -64.5,10.80733 -64.5,32.25v10.75c0,3.956 3.21067,7.16667 7.16667,7.16667h114.66667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-10.75c0,-21.44267 -42.97133,-32.25 -64.5,-32.25z"></path></g></g></svg>
            </a>
          </div>
      </nav>
      </div>
      {% endif %}
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-lg-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-lg-4">
          <div class="content-section-sidebar" id="facts-div">
            <h3 class="sidebar-heading">Facts</h3>
            
          </div>
          <div class="content-section-sidebar">
            <h3 class="sidebar-heading">YouTube</h3>
            <script src="https://apis.google.com/js/platform.js"></script>
            <div class="g-ytsubscribe" data-channelid="UCnbda_vAZxb4H_zXa6Q2I6w" data-layout="full" data-count="default"></div>
          </div>
          <div class="content-section-sidebar">
            <h3 class="sidebar-heading">Twitter</h3>
            <a href="https://twitter.com/nccbuddy?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @ncc_buddies</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>            
        </div>
      </div>
    </main>



    <footer class="footer">
      <a href="{% url 'community:about' %}">About</a>
      <a href="{% url 'community:contact' %}">Contact</a>
      <a href="{% url 'community:contribute' %}">Contribute</a>
      <a href="{% url 'community:sponsor' %}">Sponsor</a>
      <a href="{% url 'community:guidelines' %}">Guidelines</a>
      <div class="tag-line">
        <a href="">NCC BUDDY MADE WITH ❤️ IN INDIA</a>
      </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="{% static 'blog/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'blog/js/infinite.min.js' %}"></script> 
    
{% block script %}{% endblock %}

{% if user.is_authenticated %}

    <script type="text/javascript">
      $(document).ready(function(){

        $.ajax({
                url: "{% url 'blog:notifications-count' request.user.username %}",
                type: 'get',
                success: function(data){
                  if (data.count===0) {
                    $('#notifications-count').hide()
                    $('#notifications-count-2').hide()
                  }
                  else {
                    $('#notifications-count').show()
                    $('#notifications-count-2').show()
                    $('#notifications-count').text(data.count)
                    $('#notifications-count-2').text(data.count)

                  }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
      });
    </script>
    {% endif %}
    <script type="text/javascript">
      $.ajax({
                url: "{% url 'community:facts' %}",
                type: 'get',
                success: function(data){
                  
                  data.facts.forEach(myFunc)
                  function myFunc(fact) {
                    var newItem = '<p class=text-muted>'+fact+'</p>';
                    $('#facts-div').hide();
                    $('#facts-div').append(newItem);
                    $('#facts-div').slideDown('slow');

                  }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
    </script>
    <script>

    $(document).ready(function(){

        $("form").attr("enctype","multipart/form-data");

    });

    </script> 
</body>
</html>
