{% load static %}

<section>
	<div class="">
	  <div class="">
	    Welcome <b>{{user.username}}</b>
	  </div>
	  <div class="card-body">
	    <p class="card-text">Posts of your buddies will appear on this page.</p>
	    <p class="card-text">To add or update your personal information <a href="{% url 'profile-update' %}">click here</a>.</p>
	    <p>You can also search for your buddies and posts at <a href="{% url 'blog:search' %}">search</a> page.</p>
	    <p>To add your first post click the button below.</p>
	    <a href="{% url 'blog:post-create' %}" class="btn btn-primary">Add Post</a>
	  </div>
	</div>
	<br>
</section>
