{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
 {% block title %}
   <title>Add post * @{{request.user.username}} -  nccbuddy.com</title> 
 {% endblock %}
{% block content %}

</style>
    <div class="content-section">
        <form action="{% url 'blog:post-create' %}" method="POST" id="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Post</legend>
                {{form | crispy}}
            </fieldset>
            <div class="form-group" style="display: flex;justify-content: flex-end;">
                <button class="btn btn-info btn-sm" type="submit" id="form-submit" style="padding: 5px 25px">Post</button>
            </div>
        </form>
        <div class="loading-bar" style="display: none;">
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" aria-valuenow="0"aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%</div>
            </div>
             <div><br><br>
                <p>"If death strikes before I prove my blood, I swear I’ll kill Death."</p>
                <p style="text-align: right;">-Capt Manoj Kumar Pandey PVC 1/11 Gurkha Rifles</p>
            </div>
        </div>
           
    </div>
{% endblock content %}

{% block script %}
<script>
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        $form = $(this)
        var formData = new FormData(this);
        $.ajax({
            xhr : function(){   
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener('progress',function(event){
                    if (event.lengthComputable){

                        var percent = Math.round((event.loaded/event.total)*100);
                        $('.loading-bar').show();
                        $('#post-form').hide();
                        $('#progress-bar').attr('aria-valuenow',percent).css('width',percent+'%').text(percent+'%')
                    }
                });
                return xhr;
            },
            url : "{% url 'blog:post-create' %}", 
            type : "POST", 
            data: formData,
            processData: false,
            contentType: false,
            success : function(json) {
              window.location.href=(json.url);
            },

            error : function(xhr,errmsg,err) {
            }
        });
    });
   
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#div_id_image').children('div').addClass('currentPhoto');
        $('.currentPhoto').children('a').hide();
        let isTextNode = (_, el) => el.nodeType === Node.TEXT_NODE;
        $('.currentPhoto').contents().filter(isTextNode).remove();
        var img = document.createElement("IMG");
        img.src = '{{ post.image_thumbnail_detail.url }}';
        img.setAttribute('class', 'post-img-update');
        $('.currentPhoto').prepend('<br>Change Image'); 
        $('.currentPhoto').prepend(img);
    });
</script>

{% endblock %}
